gradle.properties

/issues
dotty/project/project
*.log

#metals
.metals

#bloop
.bloop

#vim
*.swp

#sbt
project/*-shim.sbt
project/project
project/target
target
dist
.bsp

#dotty
.dotty*

#vscode
.vscode

#eclipse
.project
.classpath
.settings
bin

#idea
.idea
.attach_pid*
out

#gradle
build
.gradle
gradle-app.setting

#gradle.sbt
.cache

#dolphin
.directory

#unknown
.cache-main
.cache-tests
